
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{$data.title} - {$SiteaName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://fonts.cat.net/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/index/css/screen.css?v=cdf4501ab0" />
</head>
<body class="post-template nav-closed">

{include file="/common/nav" /}

<span class="nav-cover"></span>
<div class="site-wrapper">
    <header class="main-header post-head no-cover">
        <nav class="main-nav  clearfix">
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        </nav>
    </header>
    <main class="content" role="main">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">{$data.title}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{$data.time|date='Y-m-d H:i:s', ###}"><i class="fa fa-history"></i>  {$data.time|date="Y-m-d H:i:s", ###}</time>
                    <span class="tag" style="margin-left: 2rem;"><i class="fa fa-anchor"></i>  {eq name="$data.tag" value="0"}原创{else /}转载{/eq}</span>
                    <span class="eye" style="margin-left: 2rem;"><i class="fa fa-eye"></i> {$data.number}</span>
                </section>
            </header>
            <section class="post-content">
                {$data.content}
                <div class="clearfix"></div>
                <hr class="nogutter">
                <span style="color: #19A1F9;font-size: 1.5rem;">欢迎转载,但请附上原文地址哦,尊重原创,谢谢大家 本文地址: <a style="color: #19A1F9" href="//{$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']}">http://{$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']}</a></span>
            </section>

            <footer class="post-footer">

                <figure class="author-image">
                    <a class="img" href="javascript:;" style="background-image: url(//www.gravatar.com/avatar/5a3417093ca13cd797ae76ce191afcb9?s&#x3D;250&amp;d&#x3D;mm&amp;r&#x3D;x)"><span class="hidden">meto's Picture</span></a>
                </figure>

                <section class="author">

                    <div class="pagination">

                        {notempty name="fron"}
                        <a class="pull-left" href="/article/{$fron.id}.shtml">← {$fron.title}</a>
                        {/notempty}
                        {notempty name="after"}
                        <a class="pull-right" href="/article/{$after.id}.shtml">{$after.title}  →</a>
                        {/notempty}
                    </div>
                </section>

                <hr>

                <div id="disqus_thread">

                    <!-- UY BEGIN -->
                    <div id="uyan_frame"></div>
                    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2161046"></script>
                    <!-- UY END -->


                </div>

            </footer>
        </article>
        <link rel="stylesheet" href="/index/css/article.css">
        {include file="/common/footer" /}
    </main>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://api.i-meto.com/hitokoto?encode=js-html&length=36"></script>

<script type="text/javascript" src="https://i-meto.com/assets/js/jquery.fitvids.js?v=cdf4501ab0"></script>
<script src="/index/js/index.js"></script>