<link rel="stylesheet" href="__Css__/config.css">
<div class="card-header-title">
    文章管理 > <a data-url="/Admin/Category">文章栏目</a> >　添加栏目
    <span class="pull-right">
        <a data-url="/Admin/Category"><i class="fa fa-list"></i> 返回</a>
    </span>
</div>
<div class="card-content-body config-body">
    <form class="form-horizontal" id="myForm" onsubmit="return false" data-url="/Admin/Category/add">
        <div class="box-content">
            <div class="form-group">
                <label class="col-sm-2 control-label">栏目名称：</label>
                <div class="col-sm-7">
                    <input class="form-control" name="name" placeholder="栏目名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="sort" placeholder="排序" value="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否显示</label>
                <div class="col-sm-7 show" style="font-size: 0;">
                    <label for="goods_category1" class="cb-enable selected">开</label>
                    <label for="goods_category0" class="cb-disable">关</label>
                    <input id="goods_category1" type="radio" name="isshow" checked="checked" value="0" >
                    <input id="goods_category0" type="radio" name="isshow" value="1" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-7">
                {:token()}
                <input type="hidden" value="0" name="pid">
                <button class="btn btn-info pull-left submits">提交</button>
            </div>
        </div>
    </form>
</div>