<link rel="stylesheet" href="__Css__/link.css">
<div class="card-header-title">
    系统 > 友情链接
</div>
<div class="card-content-body link-body">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="small-box">
            <a href="javascript:;" data-url="/Admin/link/add" class="action-add">新增友链</a>
            <div class="tab">
                <form id="myForm">
                    <table class="os">
                        <tr class="odd">
                            <td><b>ID</b></td>
                            <td><b>中文域名</b></td>
                            <td><b>域名</b></td>
                            <td><b>是否显示</b></td>
                            <td><b>排序</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        {volist name="list" id="vo" key="k"}
                        <tr>
                            <td class="id">{$vo.id}</td>
                            <td class="name">{$vo.name}</td>
                            <td class="url"><a href="{$vo.url}" target="_blank">{$vo.url}</a></td>
                            <td>
                                {eq name="$vo.isshow" value="0"}
                                <i class="fa fa-check-circle"></i>
                                {else\}
                                <i class="fa fa-times-circle"></i>
                                {/eq}
                            </td>
                            <td class="sort">{$vo.sort}</td>
                            <td class="smart-actions">
                                <a class="action-edit action-link">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="action-delete" data-id="{$vo.id}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                            {/volist}

                    </table>
                </form>
                {$list->render()}
            </div>
        </div>
    </div>
</div>

<script>

    //删除友链

    $('.action-delete').on('click', function(){

        $.post('/Admin/Link/del/' + $(this).attr('data-id'),function(data){

            if(data.status == 200) {

                layer.msg(data.msg, {icon: 6, time:2000},function(index){

                    layer.close(index);

                    $.post('/Admin/link/',function (data) {

                        $('.article').html(data);

                    })
                });

            }else{

                layer.msg(data,{icon:5, time:1500});
            };
        });
    });

    //翻页

    $('.pagination>li').on('click',function () {

        var $url = $(this).find('a').attr('href');

        if($url == undefined){

            return false;
        }

        $.post($url,function(data){

            $('.article').html(data);

        });

        return false;
    });
</script>