<link rel="stylesheet" href="__Css__/config.css">
<div class="card-header-title">
    权限管理 > <a data-url="/admin/rule">权限节点</a> >　编辑节点
    <span class="pull-right">
        <a data-url="/admin/rule"><i class="fa fa-list"></i> 返回</a>
    </span>
</div>
<div class="card-content-body config-body article-add">
    <form class="form-horizontal" id="myForm" onsubmit="return false" data-url="/admin/rule/save">
        <div class="box-content">
            <div class="form-group">
                <label class="col-sm-1 control-label">所属父级</label>
                <div class="col-sm-10">
                    <div class="selectbox">
                        <select name="pid" class="form-control select">
                            <option value="0">默认顶级</option>
                            {volist name="list" id="vo"}
                            <option value="{$vo.id}" {egt name="$vo.level" value="2"}disabled{/egt} {eq name="$rule.pid" value="$vo.id"}selected{/eq}>{$vo.html}{$vo.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">权限名称</label>
                <div class="col-sm-10">
                    <input class="form-control" name="title" placeholder="权限名称" value="{$rule.title}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">权限节点</label>
                <div class="col-sm-10">
                    <input class="form-control" name="name" placeholder="权限节点" value="{$rule.name}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">排序：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sort" placeholder="排序" value="{$rule.sort}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">状态</label>
                <div class="col-sm-7 show" style="font-size: 0;">
                    <label for="goods_category1" class="cb-enable  {eq name="$rule.status" value="1"}selected{/eq}">开</label>
                    <label for="goods_category0" class="cb-disable  {eq name="$rule.status" value="0"}selected{/eq}">关</label>
                    <input id="goods_category1" type="radio" name="status" checked="checked" value="1" {eq name="$rule.status" value="1"}checked{/eq}>
                    <input id="goods_category0" type="radio" name="status" value="0" {eq name="$rule.status" value="0"}checked{/eq} >
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <div class="col-sm-10">
                {:token()}
                <input type="hidden" name="id" value="{$rule['id']}">
                <button class="btn btn-info pull-left submits">提交</button>
            </div>
        </div>
    </form>
</div>