<link rel="stylesheet" href="__Css__/config.css">
<div class="card-header-title">
        系统 > 网站信息
    </div>
    <div class="card-content-body config-body">
        <form class="form-horizontal" id="myForm" onsubmit="return false" data-url="/Admin/config/save">
            {foreach $config as $vo}
            <dl class="row">
                <dd class="odd">{$vo.desribes}</dd>
                <dd class="opt">
                    {if condition="$vo.key eq 'SiteaLogo'"}
                    <div class="col-sm-12 imgFile" style="padding-left: 0; margin-bottom: 4px;">
                        <input class="form-control" name="{$vo.key}" placeholder="网站Logo" value="{$vo.v}">
                        <i class="fa fa-picture-o imgFile-ico" style="padding-left: 5px;" onmouseover="mouseover()">
                            <div class="thumb">
                                <img >
                                <i></i>
                                <em></em>
                            </div>
                        </i>
                        <span class="imgpicker">
            	 		<span class="uploader-text">选择上传…</span>
            	 		<input type="file" class="file-invisible" name="image" accept="image/jpg,image/jpeg,image/png">
            	 	</span>
                    </div>
                    <p class="notic">网站Logo，最佳尺寸200*90</p>
                    {elseif condition="$vo.key eq 'Affiche'"}
                    <textarea name="{$vo.key}" id="" cols="30" rows="5" class="form-control" placeholder="{$vo.v}"></textarea>
                    <p class="notic">{$vo.k}</p>
                    {else /}
                    <input type="text" class="form-control" placeholder="{$vo.v}" name="{$vo.key}">
                    <p class="notic">{$vo.k}</p>
                    {/if}
                </dd>
            </dl>
            {/foreach}
            <dl class="row">
                <dd class="odd"></dd>
                <dd class="opt">
                    {:token()}
                    <button class="btn btn-info submits">确认提交</button>
                </dd>
            </dl>
        </form>
    </div>