<link rel="stylesheet" href="__Css__/link.css">
<div class="card-header-title">
    数据库 > 数据库列表
</div>
<div class="card-content-body link-body database">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="small-box">
            <a href="javascript:;" data-url="/Admin/link/add" class="action-add">数据备份</a>
            <div class="tab">
                <form id="myForm">
                    <table class="os">
                        <tr class="odd">
                            <td width="35"><b>
                                <input type="checkbox" id="database">
                                <label for="database" class="colourattrbox"></label>
                            </b></td>
                            <td><b>表名</b></td>
                            <td><b>记录量</b></td>
                            <td><b>占用空间</b></td>
                            <td><b>类型</b></td>
                            <td><b>编码</b></td>
                            <td><b>创建时间</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        {volist name="datalist" id="vo" key="k" mod='2'}
                        {eq name="mod" value="1"}
                        <tr class="odd">
                            {else/}
                        <tr>
                        {/eq}
                            <td>
                                <input type="checkbox" id="{$vo.Name}"  name="base[]" value="{$vo.Name}" class="typecheck">
                                <label for="{$vo.Name}" class="colourattrbox"></label>
                            </td>
                            <td>{$vo.Name}</td>
                            <td>{$vo.Rows}</td>
                            <td>{$vo.Data_length|format_bytes}</td>
                            <td>{$vo.Engine}</td>
                            <td>{$vo.Collation}</td>
                            <td class="sort">{$vo.Create_time}</td>
                            <td class="smart-actions">
                                <a class="action-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="action-delete" data-id="">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        {/volist}

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //翻页

    $('.pagination>li').on('click',function () {

        var $url = $(this).find('a').attr('href');

        if($url == undefined){

            return false;
        }

        $.post($url,function(data){

            $('.article').html(data);

        });

        return false;
    });
</script>