<link rel="stylesheet" href="__Css__/link.css">
<div class="card-header-title">
    数据库 > 执行SQL
</div>
<div class="card-content-body link-body database">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="small-box">
            <div class="alert alert-danger alert-dismissable" style="margin-top: 20px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="fa fa-warning"></i>　执行SQL将直接操作数据库，请谨慎使用……</h5>
            </div>
            <form class="form-horizontal" name="myForm" onsubmit="return false">
                <div class="box-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-7">
                            <textarea class="form-control" style="width: 80%; height:100px; resize: none;" name="query" placeholder="将sql语句粘贴到此……" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                        <button class="btn btn-info pull-left submits">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>