<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
  #RewriteCond %{HTTP_HOST} ^chiqinga.com$ [NC] 
  #RewriteRule ^(.*)$ http://www.chiqinga.com/$1 [L,R=301]
</IfModule>
