<link rel="stylesheet" href="__Css__/link.css">
<div class="card-header-title">
    评论管理 > {$title}
</div>
<div class="card-content-body link-body">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="small-box">
            <div class="tab">
                <form id="myForm">
                    <table class="os">
                        <tr class="odd">
                            <td width="25"><b><i class="fa fa-star-half-full"></i></b></td>
                            <td><b>ID</b></td>
                            <td><b>发件人</b></td>
                            <td><b>标题</b></td>
                            <td><b>内容</b></td>
                            <td><b>时间</b></td>
                            <td><b>操作</b></td>
                        </tr>

                        {empty name="list"}
                            <tr>
                                <td colspan="7" align="center">对不起，没有查询到任何相关结果！</td>
                            </tr>
                        {else /}
                            {volist name="list" id="vo" mod="2"}
                            {eq name="mod" value="1"}
                            <tr class="odd">
                                {else/}
                            <tr>
                            {/eq}
                                <td class="status">
                                    {eq name="$vo.status" value="0"}
                                        <i class="fa fa-envelope"></i>
                                    {else\}
                                        <i class="fa fa-envelope-o"></i>
                                    {/eq}
                                </td>

                                <td class="id">{$vo.id}</td>
                                <td class="name">{$vo.name}</td>
                                <td class="title">{$vo.title}</td>
                                <td class="content">
                                    <div class="ellipsis">
                                        {$vo.content}
                                    </div>
                                </td>
                                <td class="time">{$vo.time|date='Y-m-d H:i:s',###}</td>
                                <td class="smart-actions feedback">
                                    <a class="action-edit action-edit-save" title="查看" data-url="/admin/feedback/preview/{$vo.id}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="action-square" title="回复">
                                        <i class="fa fa-share-square"></i>
                                    </a>
                                    <a class="action-delete" data-id="{$vo.id}" title="删除">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>

                            </tr>
                            {/volist}

                        {/empty}



                    </table>
                </form>
                {$list->render()}
            </div>
        </div>
    </div>
</div>

<script>
    $('.action-delete').on('click', function(){

        $.post('/admin/feedback/del/' + $(this).attr('data-id'),function(data){

            if(data.status == 200) {

                layer.msg(data.msg, {icon: 6, time:2000},function(index){

                    layer.close(index);

                    $.post('/admin/feedback/index/{$md_id}',function (data) {

                        $('.article').html(data);

                    })
                });

            }else if (data['data'] == 203)
            {
                layer.msg(data.msg,{icon:5, time:2000});

                return false;
            } else {

                layer.msg(data,{icon:5, time:1500});

            };
        });
    });
</script>