html,body{
    width: 100%;
    height:100%;
}
/* =======================================================
   hero
   ======================================================= */
.hero {
    display: inline-table;
    width: 100%;
    height: 30vh !important;
    padding-top: 0;
    text-align: center;
    background: #fff;
    z-index: 5;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}
header.main-header.post-head {
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.main-nav {
    position: relative;
    padding: 35px 40px;
    margin: 0 0 30px 0;
}
.main-nav.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
}
.main-nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.main-nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.back-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 38px;
    padding: 0 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.5s ease;
    color: #fff;
}
.back-button:hover {
    background: white;
}
a:hover{
    color: black;
}

.wp {
    margin: 9rem auto;
    clear: both;
    vertical-align: middle;
    color: #fff;
}
.wp>i.icon {

    display: inline-block;
    width: 8rem;
    height: 8rem;
    margin-bottom: 30px;
    font-size: 5rem;
    line-height: 8rem;
    background: #1e73be;
    border-radius: 50%;
}
.entry-title, .page-title {
    margin: 0;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
}
.page-description {
    margin-top: 1em;
    font-size: 16px;
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-family: "Merriweather", serif;
    color: #ffffffcc;
}
/* ==================================================
 my friends
=================================================== */

.post {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}
blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0 1.75em -2em;
    padding: 0 0 0 .75em;
    border-left: #4A4A4A 0.4em solid;
}
/* ================================================================
footer
=============================================================== */

#footer {
    background: #23282D;
    padding: 40px 0 30px;
    text-align: center;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-list.text-center {
    margin: 0 auto;
}
#footer p {
    color: rgba(255,255,255,.3);
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.8;
}
.kratos-social-icons>a {
    padding: 4px 14px;
    color: #51aded;
}
#footer p a {
    color: rgba(255,255,255,.5);
}
.kratos-social-icons>a i {
    font-size: 25px;
}

#footer p a:hover {
    text-decoration: none;
    color: #51aded!important;
}

/* =====================================================
   移动端
   ===================================================== */

@media (max-width: 989px){
     .page-description{
        display: none;
    }
    .back-button{
        border: none;
        color: #fff;
        font-size: 1.3rem;
    }
    .main-nav {
        padding: .3rem 0;
    }
    .back-button:hover {
        background: none;
        color: white;
    }
    .wp{
        display: table-cell;
    }
    .wp>i.icon{
        margin-bottom: 0;
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        line-height: 5rem;
    }
    .entry-title, .page-title{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    span.word {
        font-size: .6rem;
        vertical-align: top;
        margin-left: -.5rem;
    }
}