<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}{/block}</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="__Public__/static/bootstrap/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

    <!--mcustomscrollbar-->
    <link rel="stylesheet" href="__Public__/static/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" href="__Css__/base.css">

    <!--jQ-->
    <script src="//libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>

    <!--layer-->
    <script src="__Public__/static/layer/layer.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="heder">
                {include file="/common/heder" /}
            </div>

            <main>
                <div class="sidebar">
                    <div class="nb-sidebar-header">
                        <i class="nb-sidebar-bg"></i>
                        <a href="javascript:;" class="btn btn-hero-success main-btn">
                            <i class="fa fa-github"></i>
                            <span class="content-co">后台管理系统</span>
                        </a>
                    </div>
                    <!--左侧菜单栏-->
                    <sider><ul class="side-menu nav" id="menu"></ul></sider>
                </div>

                <active class="mCustomScrollbar">
                        <div class="main-content">
                            <div class="article"></div>
                        </div>

                    <!--底部版权信息-->
                    {include file="/common/footer" /}
                </active>
            </main>

        </div>
    </div>

</body>
</html>

<!--mCustomScrollbar-->
<script src="__Public__/static/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!--百度富文本-->
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>

<!--common-->
<script src="__Js__/common.js"></script>