<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .layui-table{
            width: 90%;
            margin: 2rem auto;
        }
        .layui-table thead tr {
            background: #F8F8F8;
        }
        .layui-table tr td {
            border: 1px solid #ebeef2;
            padding:.8rem;
        }
        .layui-table tr:hover{
            background: #e6f3ff;
        }
        .layui-table td.col-sm-1 {
            text-align: right;
        }
    </style>
</head>
<body>
    <table class="layui-table">
        {volist name="list" id="vo"}
        <thead>
            <tr class="odd">
                <td class="col-sm-1">标 题：</td>
                <td>{$vo.title}</td>
            </tr>
        </thead>
        <tr>
            <td class="col-sm-1">栏目：</td>
            <td>{$vo.cid}</td>
        </tr>
        <tr class="odd">
            <td class="col-sm-1">作者：</td>
            <td>{$vo.author}</td>
        </tr>
        <tr>
            <td class="col-sm-1">简介：</td>
            <td>{$vo.duction}</td>
        </tr>
        <tr class="odd">
            <td class="col-sm-1">封面：</td>
            <td><img src="{$vo.thumb}" alt="{$vo.title}"></td>
        </tr>
        <tr>
            <td class="col-sm-1">内 容：</td>
            <td>{$vo.content}</td>
        </tr>
        <tr class="odd">
            <td class="col-sm-1">发布时间：</td>
            <td>{$vo.time|date="Y-m-d H:i:s", ###} </td>
        </tr>
        <tr>
            <td class="col-sm-1">状态：</td>
            <td>
                {eq name="$vo.isshow" value="0"}
                    开启 <i class="fa fa-check-circle"></i>
                {else/}
                    关闭 <i class="fa fa-times-circle"></i>
                {/eq}
            </td>
        </tr>
        <tr class="odd">
            <td class="col-sm-1">来 源：</td>
            <td>{eq name="$vo.tag" value="0"} 原创{else/} 转载{/eq}</td>
        </tr>
        <tr>
            <td class="col-sm-1">浏览次数：</td>
            <td>{$vo.number}</td>
        </tr>
        {/volist}
    </table>
</body>
</html>