<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <p class="kratos-social-icons">
                        <a target="_blank" rel="nofollow" href="http://shang.qq.com/wpa/qunwpa?idkey=8f2cf81e94318dfad138f76764d0e46c70205556b12807bf332d1f72cafe4666"><i class="fa fa-qq"></i></a>
                        <a target="_blank" rel="nofollow" href="https://github.com/chiqing85"><i class="fa fa-github"></i></a>
                        <a target="_blank" rel="nofollow" href="https://www.weibo.com/chiqing58"><i class="fa fa-weibo"></i></a>
                    </p>
                    <p>Copyright  <?php echo date('Y',time()); ?> <a href="https://www.chiqinga.com">CHIQING WANG</a>. All Rights Reserved.<br>
                        {$RecordNo}<br>
                         chiqinga v3.11<i class="fa fa-heart"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>