<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="javascript:;" class="nav-close">
			<span class="hidden">
				<i class="icon ion-android-close"></i>
			</span>
    </a>
    <ul>
        <li class="nav- nav-current"><a href="http://chiqinga.com">首页</a></li>
        <li class="nav-"><a href="/archives/">归档</a></li>
        <li class="nav-"><a href="/link/">友链</a></li>
        <!--<li class="nav-"><a href="/about/">关于</a></li>-->
    </ul>
    <!--<a class="subscribe-button icon-feed" href="">Subscribe</a>-->
</div>