<link rel="stylesheet" href="__Css__/config.css">
<div class="card-header-title">
    权限管理 > <a data-url="/Admin/group">角色管理</a> >　权限分配
    <span class="pull-right">
        <a data-url="/Admin/group"><i class="fa fa-list"></i> 返回</a>
    </span>
</div>
<div class="card-content-body config-body">
    <form class="form-horizontal" id="myForm" onsubmit="return false" data-url="/Admin/group/save">
        <div class="box-content">
            <div class="form-group">
                <label class="col-sm-2 control-label">角色名称</label>
                <div class="col-sm-7">
                    <input class="form-control" name="title" placeholder="角色名称" value="{$group.title}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">角色描述</label>
                <div class="col-sm-7">
                    <input class="form-control" name="describe" placeholder="角色描述" value="{$group.describe}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-7 show" style="font-size: 0;">
                    <label for="goods_category1" class="cb-enable {eq name='$group.status' value='1'}selected{/eq}">开</label>
                    <label for="goods_category0" class="cb-disable {eq name='$group.status' value='0'}selected{/eq}">关</label>
                    <input id="goods_category1" type="radio" name="status" {eq name="$group.status" value="1"}checked{/eq} value="1" >
                    <input id="goods_category0" type="radio" name="status" {eq name="$group.status" value="0"}checked{>eq} value="0" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">角色授权</label>
                <div class="col-sm-7">
                    {volist name="rules" id="vo"}
                        <div class="rules left_0{$vo.level + 1}">
                            <input type="checkbox" id="{$vo.id}"  name="rules[]" value="{$vo.id}" class="typecheck" {eq name="$vo.ischeck" value="1"}checked{/eq}>
                            <label for="{$vo.id}" class="colourattrbox"></label>&nbsp;<span style=" display: inline-block;padding-top: .35rem;">{$vo.title}</span>
                        </div>
                    {/volist}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-7">
                {:token()}
                <input type="hidden" name="id" value="{$group.id}">
                <button class="btn btn-info pull-left submits">提交</button>
            </div>
        </div>
    </form>
</div>