<link rel="stylesheet" href="__Css__/link.css">
<div class="card-header-title">
    系统 > 登录日志
</div>
<div class="card-content-body link-body">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="small-box">
            <div class="tab">
                <table class="os">
                    <tr class="odd">
                        <td><b>ID</b></td>
                        <td><b>用户</b></td>
                        <td><b>IP</b></td>
                        <td><b>位置</b></td>
                        <td><b>时间</b></td>
                    </tr>
                    {volist name="log" id="vo" mod="2"}
                    {eq name="mod" value="1"}
                        <tr class="mod">
                    {else/}
                        <tr>
                    {/eq}
                        <td>{$vo.id}</td>
                        <td>{$vo.user}</td>
                        <td>{$vo.ip}</td>
                        <td>{$vo.location}</td>
                        <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    {/volist}
                </table>
                    {$log->render()}
            </div>
        </div>
    </div>
</div>